// Цвета
$bgc:  #660000;
$bgcHead:  rgba(0, 0, 0, 0.6);
$lnkc: #fff;
$lnkbc: #76c38f;
$textc: #979797;
$borderc: #6b6b6b;
$cardhc: #303030;
$cardc: #333333;
$cardbc: #353535;
$linec: #404040;
$footerBG: #222222;
// ширина 
$widthBase: 1200px;
$widthInt: 960px;

// адаптивность 
$xs: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;