.header{
	position: relative;
	padding-top: 40px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	@extend .padding-all;
	&_black{
		background: $bgcHead;
	}
	@include respond-to(lg) {
		padding-top: 10px;
		justify-content: center;
		flex-direction: column;
	};
}